/* 用作初始化的css */
a {
    color: #666666;
}
i, em {
    font-style: normal;
}
/*版心*/
.w {
    width: 1200px;
    margin: 0 auto;
}
.style-red {
    color: #c81623;
}
/*顶部菜单*/
/*顶部快捷键*/
.menu {
    height: 34px;
    line-height: 34px;
    background-color: #f1f1f1;
}
.top .w {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    font-size: 14px;
    color: #666666;
}
.top .menu-left ul {
    display: flex;
}
.top .spacer {
    width: 1px;
    height: 12px;
    background-color: #666666;
    margin: 9px 12px;
}
.shortcut {
    display: flex;
    align-items: center;
}
.shortcut a {
    flex-shrink: 1;
}
/*顶部logo*/
.menu-logo {
    position: relative;
    height: 105px;
}
.menu-logo .logo {
    position: absolute;
    top: 25px;
    left: 0;
    font-size: 0;
}
.menu-logo .logo a {
    display: block;
    width: 175px;
    height: 55px;
    background: url("../img/logo.png") no-repeat;
}
/*顶部搜索框*/
.menu-logo .search {
    position: absolute;
    top: 25px;
    left: 348px;
}
.menu-logo .search-box {
    float: left;
    width: 445px;
    height: 32px;
    border: 2px solid #b1191a;
    padding-left: 10px;
    outline: none;
}
.menu-logo .search-btn {
    float: left;
    width: 82px;
    height: 38px;
    background-color: #b1191a;
    color: #ffffff;
    border: none;
    font-size: 16px;
    outline: none;
}
.menu-logo .hotwords {
    position: absolute;
    top: 65px;
    left: 348px;
}
.menu-logo .hotwords a {
    margin: 0 8px;
    font-size: 12px;
}
/*购物车*/
.menu-logo .shopcar {
    position: absolute;
    top: 25px;
    right: 64px;
    width: 138px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #CCCCCC;
    text-align: center;
}
.menu-logo .shopcar i:first-child {
    font-size: 16px;
    color: #da5555;
}
.menu-logo .shopcar .num {
    position: absolute;
    top: -6px;
    left: 105px;
    height: 14px;
    line-height: 14px;
    padding: 2px 3px;
    background-color: #e60012;
    border-radius: 7px 7px 7px 0;
    color: #fff;
}
/*商品菜单*/
.menu-items {
    height: 45px;
    border-bottom: 2px solid #b1191a;
}
.menu-items .w {
    justify-content: left;
}
.menu-items .dt {
    width: 210px;
    height: 45px;
    line-height: 45px;
    background-color: #B1191A;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.menu-items .dd {
    width: 209px;
    height: 465px;
    line-height: 31px;
    background-color: #C81623;
    margin-top: 2px;
    padding-left: 1px;
}
.dd .goods li {
    padding: 0 10px;
}
.dd .goods li:hover {
    background-color: #fff;
}
.dd .goods li:hover a {
    color: #B1191A;
}
.dd .goods a {
    color: #FFFFFF;
}
.dd .goods i {
    float: right;
    color: #FFFFFF;
}
.menu-items .menu-list {
    height: 45px;
    line-height: 45px;
    margin-left: 10px;
}
.menu-list li {
    float: left;
}
.menu-items .menu-list a {
    display: block;
    height: 45px;
    margin: 0 25px;
}
/*底部样式*/
.footer {
    height: 386px;
    padding-top: 30px;
    background-color: #f5f5f5;
}
.footer-top {
    height: 80px;
    border-bottom: 1px solid #CCCCCC;
}
.footer-top ul{
    display: flex;
    justify-content: space-around;
}
.footer-top ul li {
    height: 80px;
}
.footer-top ul i {
    float: left;
    width: 50px;
    height: 50px;
    background: url("../img/icons.png") no-repeat;
}
.footer-top div {
    float: left;
    margin-left: 5px;
}
.footer-top ul h5 {
    font-size: 16px;
    margin: 5px 0 10px 0;
    
}
.footer-top ul p{
    font-size: 14px;
    color: #aaaaaa;
}
.footer-top .f-t-icon1 {
    background-position: -253px -3px;
}
.footer-top .f-t-icon2 {
    background-position: -255px -54px;
}
.footer-middle {
    height: 147px;
    padding-top: 40px;
    border-bottom: 1px solid #CCCCCC;
}
.footer-middle ul {
    display: flex;
    justify-content: space-around;
}
.footer-middle dt {
    height: 25px;
    font-size: 16px;
}
.footer-middle dd {
    height: 21px;
    font-size: 14px;
}
.footer-middle .last-dl,
.footer-middle .last-dl dd {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.footer .footer-bottom {
    text-align: center;
}
.footer-bottom p {
    font-size: 14px;
    margin: 20px 0;
}

/*字体样式*/
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" ;
    font-size: 12px;
}