/*首页样式*/
.main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 980px;
    height: 455px;
    margin: 10px 0 0 220px;
}
/*banner样式*/
.banner {
    position: relative;
    width: 720px;
    height: 455px;
}
.banner img {
    width: 720px;
    height: 455px;
}
.banner a {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
}
.banner ul {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    left: 50px;
    bottom: 10px;
}
.banner ul li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.4);
    margin: 0 5px;
    cursor: pointer;
}
.banner .current {
    background-color: #fff;
}
.banner .last {
    left: 0;
}
.banner .next {
    right: 0;
}
/*新闻样式*/
.newsflash {
    width: 250px;
    height: 455px;
}
.news {
    width: 100%;
    height: 163px;
    border: 1px solid #CCCCCC;
    color: #666666;
}
.news-title {
    display: flex;
    justify-content: space-between;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    border-bottom: 1px dotted #CCCCCC;
}
.news .more {
    font-size: 16px;
}
.news-detail {
    padding: 5px 15px;
    font-size: 14px;
}
.news-detail li {
    height: 23px;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.service {
    width: 100%;
    height: 208px;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    overflow: hidden;
}
.service ul {
    width: 252px;
    display: flex;
    flex-flow: row wrap;
}
.service li {
    width: 62px;
    height: 70px;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}
.service a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.service i {
    width: 24px;
    height: 24px;
    background: url("../img/icons.png") no-repeat -17px -16px;
}
.service .icon-2 {
    width: 26px;
    height: 24px;
    background-position: -76px -16px;
}
.service .icon-3 {
    height: 25px;
    background-position: -142px -17px;
}
.service p {
    margin-top: 10px;
}
.ad {
    width: 100%;
    height: 70px;
    background-color: #aaa;
    margin-top: 5px;
}
/*推荐模块样式*/
.recommend {
    display: flex;
    flex-flow: row nowrap;
    height: 163px;
    margin-top: 10px;
}
.recommend-l {
    width: 206px;
    height: 163px;
    background-color: #5c5251;
}
.recommend-l .content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.recommend-l img {
    margin: 30px 0 10px 0;
}
.recommend-l p {
    font-size: 18px;
    color: #ffffff;
}
.recommend-r {
    width: 994px;
    height: 163px;
    background-color: #ebebeb;
}
.recommend-r ul {
    display: flex;
    flex-flow: row nowrap;
}


